<%-include('../layouts/adminHeader') %>
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css">
<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js"></script>
<!-- cropzee.js -->
<script src="https://cdn.jsdelivr.net/gh/BossBele/cropzee@v2.0/dist/cropzee.js" defer></script>
<!-- google code-prettify -->
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/google/code-prettify@master/styles/sunburst.css">
<!-- fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Reenie+Beanie">
<!-- jQuery throttle-debounce -->
<script src="https://cdn.jsdelivr.net/gh/cowboy/jquery-throttle-debounce/jquery.ba-throttle-debounce.js" defer></script>
<!-- sanitize.css -->
<link href="https://unpkg.com/sanitize.css" rel="stylesheet">
<script>
      $(document).ready(function(){
        $("#input").cropzee();
          $.each($("input[name='enable']"), function(){
             if ($(this).is(":checked")) {
               $(this).closest("div.uk-position-relative").find("textarea").removeAttr("disabled");
             } else {
              $(this).closest("div.uk-position-relative").find("textarea").attr("disabled", "disabled");
            }
            });
          $("input, select, textarea").on( "keyup change", $.debounce(300, function() {
            destroyPlugin($("#input"));
            $.each($("input[name='enable']"), function(){
               if ($(this).is(":checked")) {
                 $(this).closest("div.uk-position-relative").find("textarea").removeAttr("disabled");
               } else {
                $(this).closest("div.uk-position-relative").find("textarea").attr("disabled", "disabled");
              }
              });
            var aspectRatio = "";
            $.each($("input[name='aspectRatio']"), function(){
                    aspectRatio += $(this).val();
                });
            var maxSize = [];
            $.each($("input[name='maxSize'], select[name='maxSize']"), function(){
                    maxSize.push($(this).val());
                });
                var minSize = [];
            $.each($("input[name='minSize'], select[name='minSize']"), function(){
                    minSize.push($(this).val());
                });
                var startSize = [];
            $.each($("input[name='startSize'], select[name='startSize']"), function(){
                    startSize.push($(this).val());
                });
            var allowedInputs = [];
                $.each($("input[name='allowedInputs']:checked"), function(){
                    allowedInputs.push($(this).val());
                });
                var imageExtension = "";
                $.each($("input[name='imageExtension']:checked"), function(){
                    imageExtension += $(this).val();
                });
                var returnImageMode = "";
                $.each($("input[name='returnImageMode']:checked"), function(){
                    returnImageMode += $(this).val();
                });
                var modalAnimation = "";
                $.each($("select[name='modalAnimation']"), function(){
                    modalAnimation += $(this).val();
                });
                var onCropStart = null;
                $.each($("textarea[name='onCropStart']"), function(){
                  if (!$(this).is(":disabled")) {
                    onCropStart = $(this).val();
                  }
                });
              var onCropMove = null;
              $.each($("textarea[name='onCropMove']"), function(){
                    if (!$(this).is(":disabled")) {
                      onCropMove = $(this).val();
                  }
                });
              var onCropEnd = null;
              $.each($("textarea[name='onCropEnd']"), function(){
                    if (!$(this).is(":disabled")) {
                      onCropEnd = $(this).val();
                  }
                });
              var onInitialize = null;
              $.each($("textarea[name='onInitialize']"), function(){
                if (!$(this).is(":disabled")) {
                      onInitialize = $(this).val();
                  }
                });
                window.options = {
                  aspectRatio: aspectRatio,
                maxSize: maxSize,
                minSize: minSize,
                startSize: startSize,
                onCropStart: onCropStart,
                onCropMove: onCropMove,
                onCropEnd: onCropEnd,
                onInitialize: onInitialize,
                modalAnimation: modalAnimation,
                allowedInputs: allowedInputs,
                imageExtension: imageExtension,
                returnImageMode: returnImageMode,
                }
            // alert(JSON.stringify(options));
            $("#input").cropzee(options);
        }));
      });
      var destroyPlugin = function($elem, eventNamespace) {
        var isInstantiated  = !! $.data($elem.get(0));
        if (isInstantiated) {
          $.removeData($elem.get(0));
          $elem.off(eventNamespace);
          $elem.unbind('.' + eventNamespace);
        }
      };
    </script>
<style>
  * {
    font-family: sans-serif;
  }
  .image-previewer {
    height: 300px;
    width: 300px;
    display: flex;
    border-radius: 10px;
    border: 1px solid lightgrey;
  }
  li {
    font-size: 11px;
  }
  .dependencies {
    font-family: 'Reenie Beanie', cursive;
    font-size: 28px;
    text-decoration: none;
  }
  textarea {
    resize: none;
    min-height: 50px;
  }
  pre, code {
    user-select: all;
  }
</style>
<body class="g-sidenav-show  bg-gray-200">
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href=" " target="_blank">
        <img src="/assets/img/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold text-white">Admin Panel</span>
      </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/home">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">dashboard</i>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/sales-report">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">receipt_long</i>
            </div>
            <span class="nav-link-text ms-1">Sales report</span>
          </a>
        </li>
        <li class="nav-item">
          <!-- <a href="/hi">ividey amarthu</a> -->
          <a class="nav-link text-white " href="/admin/user">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">table_view</i>
            </div>
            <span class="nav-link-text ms-1">User Managment</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/brand">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">receipt_long</i>
            </div>
            <span class="nav-link-text ms-1">Brand Mangement</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/category">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">receipt_long</i>
            </div>
            <span class="nav-link-text ms-1">Catagory Mangement</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white active bg-gradient-primary" href="/admin/product">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">view_in_ar</i>
            </div>
            <span class="nav-link-text ms-1">Product Mangement</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/order">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">format_textdirection_r_to_l</i>
            </div>
            <span class="nav-link-text ms-1">Order Mangement</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/coupon">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">format_textdirection_r_to_l</i>
            </div>
            <span class="nav-link-text ms-1">Coupon Management</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/offer-banner">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">receipt_long</i>
            </div>
            <span class="nav-link-text ms-1">Banner Mangement</span>
          </a>
        </li>
        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Account pages</h6>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/profile">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">person</i>
            </div>
            <span class="nav-link-text ms-1">Profile</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/logout">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">login</i>
            </div>
            <span class="nav-link-text ms-1">Logout</span>
          </a>
        </li>
        
      </ul>
    </div>
  </aside>
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          
          <h6 class="font-weight-bolder mb-0">Product Management</h6>
        </nav>
        
      </div>
    </nav>
    <!-- End Navbar -->
  <!-- product table -->
<div class="row">
    <div class="col-xl my-2 ">
      <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0">Add Product</h5>
          <!-- <small class="text-muted float-end">Default label</small> -->
        </div>
        <div class="card-body">
          <form  action="/admin/addproduct" method="post" enctype="multipart/form-data">
            <div class="mb-3">
              <label class="form-label" for="basic-default-fullname">Product Name</label>
              <input type="text" name="product_name" style="border: 1px solid #000;" class="form-control" id="basic-default-fullname" required />
            </div>
            <div class="mb-3">          
                <select name="category" class="form-select" aria-label="Default select example" style="border: 1px solid #000;">
                <option selected>Select Catagory</option>
                <% categoryData.forEach((value) => { %>
                <option value="<%= value._id %>"><%= value.categoryName %></option>
                <% }) %>
              </select>
            </div>
            <div class="mb-3">          
              <select name="material" class="form-select" aria-label="Default select example" style="border: 1px solid #000;">
              <option selected>Select Material</option>
              <% materialData.forEach((material) => { %>
              <option value="<%= material._id %>"><%= material.materialName %></option>
              <% }) %>
            </select>
          </div>
            <div class="mb-3">
              <label class="form-label" for="basic-default-email">Price</label>
              <div class="input-group input-group-merge">
                <input
                  type="text"
                  id="basic-default-email"
                  class="form-control" name="price" style="border: 1px solid #000;" required/>
              
              </div>
             
            </div>

            <div class="mb-3">
              <label class="form-label" for="basic-default-email" >Quantity</label>
              <div class="input-group input-group-merge">
                <input
                  type="number"
                  id="basic-default-email"
                  class="form-control" name="quantity" style="border: 1px solid #000;" required/>              
              </div>
            </div>
            <div class="mb-3">             
            </div>
            <div class="mb-3">
              <label class="form-label" for="basic-default-message">Discription</label>
              <textarea
                id="basic-default-message"
                class="form-control"
               name="description"
               required
               style="border: 1px solid #000;"></textarea>
            </div>
            <div>  
                <label class="form-label" for="basic-default-message">Image</label>
                <input type="file" multiple name="image" style="border: 1px solid #000;">
            </div>
            <!-- <div>
              <label for="input" class="image-previewer" data-cropzee="input"></label>
              <input id="input" type="file" name="image" accept="image/*">
              <button onclick="alert(cropzeeGetImage('input'))">Get Image (as blob / data-url)</button>
            </div> -->
           
            <button type="submit" class="btn btn-primary">Send</button>
          </form>
        </div>
      </div>
    </div>
    
  <!--   Core JS Files   -->
  <script src="/assets/js/core/popper.min.js"></script>
  <script src="/assets/js/core/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="/assets/js/plugins/chartjs.min.js"></script>

  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/assets/js/material-dashboard.min.js?v=3.0.0"></script>
</body>

</html>